NREL_API_KEY=your_nrel_api_key_here
CENSUS_API_KEY=your_census_api_key_here
DB_CONNECTION=postgresql://postgres:your_password_here@localhost:5432/ev_project


*Please hit Ctls+S after any edits to your .env*